.gallery__photo {
    object-fit: contain;
    width: inherit;
    height: 445px;
    width: 445px;
    cursor: pointer;
    border-radius: 15px;
}

.gallery__main-slider .gallery__photo {
    cursor: auto;
    width: 550px;
    height: 550px;
}
