.add-to-cart__score {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: var(--bg-help-color);
    border: none;
    outline: none;
}
